<div class="row">
  <div class="post">
    <div class="avitar col-lg-1 col-md-2 col-xs-4 pic-preview">
      <a href="#" class="thumbnail">
        <img src="<%=post.user.image%>" alt="Missing Image">
      </a>
    </div>
    <div class="col-lg-10 col-md-9 col-sm-8 col-xs-5">
        <p class="post-body">
          <%= post.body %>
        </p>
      <p><em>submitted <%= time_ago_in_words(post.created_at) %> ago by @<%= post.user.username %></em></p>
    </div>
  </div>
</div>
