<h2>Provide a bio to share your story with your fellow Meepers.</h2>

<%= bootstrap_form_for(@profile, url: wizard_path, method: :put) do |f| %>
<div class="row">
  <div class="field col-xs-8 col-sm-6">
    <div class="field">
      <%= f.text_area :bio, autofocus: true %>
    </div>
  </div>
</div>
<% end %>

<div class="actions">
  <%= f.submit "Next", :class => 'btn btn-primary' %>
  or <%= link_to "skip", next_wizard_path %>
</div>
