<h2>Choose a username.</h2>

<%= bootstrap_form_for(@profile, url: wizard_path, method: :put) do |f| %>
<div class="row">
  <div class="field col-xs-8 col-sm-6">
    <div class="field">
      <%= f.text_area :username, :placeholder => 'username' autofocus: true %>
      <%= f.submit "Next", :class => 'btn btn-primary' %>
    </div>
  </div>
</div>
<% end %>


<%= link_to "skip", next_wizard_path %>
